nav {
  background-color: #2B2D42;
}
nav .brand-logo {
  color: #FFB4A2;
}

.inputdemoErrors .inputErrorsApp {
  min-height: 48px; 
}

.hljs {
  max-height: 120px;
}

.searchSnips {
  float: right;
  width: 250px !important;
  margin-bottom: 80px;
}

.add-editSnippet {
  margin: 100px 200px 100px 200px;
}

.addSnippetButton {
  margin-top: 50px;
}

.sortby {
  float: right;
  padding-right: 20px;
  color: gainsboro;
  padding-bottom: 50px;
}

.rating:hover:before {
   content: "\2605";
   position: absolute;
}

.forking:hover {
   border: solid 1px #EFEFEF;
   box-shadow: 2px 2px 2px #888888;
}

.snipslist {
  margin-top: 10px;
  padding-top: 80px;
}

.floatright {
  float: right;
  padding-right: 10px;
}

.tagimg {
  width: 1.7%;
  height: 1.7%;
}

.row {
  margin-bottom: 5px;
}

.snippet-title {
  font-size: 1.2em;
}
