body {
  background-color: #EDF2F4;
}
nav {
  background-color: #2B2D42;
}
nav .brand-logo {
  color: #FFB4A2;
}

.inputdemoErrors .inputErrorsApp {
  min-height: 48px; 
}

.hljs {
  max-height: 120px;
}

.searchSnips {
  float: right;
  width: 250px !important;
  margin-bottom: 80px;
}

#addSnippet {
  margin: 100px 200px 100px 200px;
}

.addSnippetButton {
  margin-top: 50px;
}

.sortby {
  float: right;
  padding-left: 10px;
  color: gainsboro;
  padding-bottom: 100px;
}


