<div ng-controller='SnippetController' class='add-editSnippet'>
  <div class="col s6">
    <div class="card medium blue-grey lighten-5">
      <div class="card-content white-text">
        <span class="card-title blue-text">{{titleField}}</span>
        <span ng-show="snippet.forkedFrom" class="pink-text text-accent-4 right">
          Forked from: {{snippet.forkedFrom}}
        </span>
        <span ng-show="snippet.forkedCount" class="pink-text text-accent-4 right">
          Forked count: {{snippet.forkedCount}}
        </span>
        <span ng-show="snippet.starCount" class="pink-text text-accent-4 right">
          Stars: {{snippet.starCount}}
        </span>
      </div>
        <!-- <div  hljs hljs-language="javascript" hljs-source="snippet.text" ></div> -->
        <p class="card-content black-text">{{text}}</p>
      <div class="card-action blue-grey lighten-5">
        <a ui-sref="users({ id: snippet.user.username })">
          <span class="blue-text text-accent-8">
            {{snippet.user.username}}
          </span>
        </a>
        <span>
          <a class="card-content blue-text" ng-click="followUser(snippet.user.username, null)">Follow</a>
        </span>
        <span>
          <a class="card-content blue-text"  ui-sref="snippets" ng-click="forkSnippet( null, snippet.text, snippet.title, snippet.tabPrefix, snippet.tags, snippet.scope, snippet.user.username, snippet.id) ">Fork</a>
        </span>
        <span>
          <a class="card-content blue-text" ui-sref="snippets" ng-click="gistSnippet(snippet.id) ">Gist it</a>
        </span>
        <span>
          <a  class="card-content blue-text"  ui-sref="snippets" ng-click="starSnippet(snippet.id) ">Star</a>
        </span>
        <span>
          <a  class="card-content blue-text"  ng-show="snippet.user.username === loggedInUser" ui-sref="editSnippet({ id: loggedInUser, snippetId: snippet.id})">Edit<a>
        </span>
        <a href="/download/{{snippet.id}}" class="right btn-floating btn-small waves-effect waves-light blue">
          <i class="mdi-content-archive">&nbsp;&nbsp;</i>
        </a>
        <a href="/download/atom/{{snippet.id}}" class="right btn-floating btn-small waves-effect waves- blue">
          <i class="mdi-editor-format-color-text">&nbsp;&nbsp;</i>
        </a>
<!--         <div>
          TAGS: 
          <span ng-repeat="tag in snippet.tags">
            <a>{{tag}}</a>
          </span>
        </div> -->
      </div>
    </div>
  </div>
</div>
