<div ng-controller="SnippetsController" id='container'>
  <div>{{snippets}}</div>
  <div class = "sortby">
    <select ng-model="sortorder">
      <option value="" disabled selected>Sort By</option>
      <option value="+createdAt" ng-model='sortSnippets'>Oldest</option>
      <option value="+forkedCount" ng-model='sortSnippets'>Most Forked</option>
    </select>
  </div>
  <input type="text" class="searchSnips" ng-model="search" placeholder="Search"></input>
    <div class="container">
      <div class="row">
        <div ng-repeat="snippet in snippets | snippetFilter:search | orderBy:sortorder track by $index" class="snippet">
          <div class="col s6">
            <div class="card grey darken-4 small">
              <div class="card-content white-text">
                <span class="card-title orange-text">{{snippet.title}}</span>
                <span ng-show="snippet.forkedFrom" class="pink-text text-accent-4 right">
                  Forked from: {{snippet.forkedFrom}}
                </span>
              </div>
                <div hljs hljs-language="javascript" hljs-source="snippet.text" ></div>
              <div class="card-action grey darken-3">
                <a ui-sref="users({ id: snippet.user.username })">
                  <span class="pink-text text-accent-4">
                    {{snippet.user.username}}
                  </span>
                </a>
                <span>
                  <a ng-click="followUser(snippet.user.username, null)">Follow</a>
                </span>
                <span>
                  <a ui-sref="snippets" ng-click="forkSnippet( null, snippet.text, snippet.title, snippet.tabPrefix, snippet.scope, snippet.user.username) ">Fork</a>
                </span>
                <span>
                  <a ng-show="snippet.user.username === loggedInUser" ui-sref="editSnippet({ id: loggedInUser, snippetId: snippet.id})">Edit<a>
                </span>
                <a href="/download/{{snippet.id}}" class="right btn-floating btn-small waves-effect waves-light blue">
                  <i class="mdi-content-archive">&nbsp;&nbsp;</i>
                </a>
                <div>
                  TAGS: 
                  <span ng-repeat="tag in snippet.tags">
                    <a>{{tag}}</a>
                  </span>
                </div>
              </div>
            </div>
          </div> <!-- materialize column -->
        </div> <!-- ng-repeat -->
      </div> <!-- materilaize row -->
    </div> <!-- materialize container -->
</div> <!-- ng-controller -->

<script>
  $(document).ready(function() {
    $('select').material_select();
  });
</script>
<!-- we are not goint to use angular filter here, we are jsut going to use db search -->

<!--         <button ng-click="searchByTerm(inputEntry)">Search</button> -->
