<div ng-controller="SnippetsUserController" id='container' >
      <a href="/api/user/{{username}}/download" class="btn waves-effect waves-light orange grey-text text-darken-4">
        <i class="mdi-content-archive">&nbsp;&nbsp;</i>
        Download All
      </a>
      <span>
        <a ng-click="followUser(username, null)" class="btn waves-effect waves-light orange grey-text text-darken-4">Follow Me</a>
      </span>
      <div class="container snipslist">
          <ul ng-repeat="snippet in snippets | snippetFilter:search | orderBy:sortorder track by $index" class="collection">
            <li class="collection-item blue-grey lighten-5 z-depth-5">
              <div class="row">
                <a ui-sref="snippet({ id: loggedInUser, snippetId: snippet.id})">
                  <span class="snippet-title"> 
                    <strong>{{snippet.title}}</strong>
                  </span>
                </a>
              <a ui-sref="users({ id: snippet.user.username })">
                <span class="floatright">
                  {{snippet.user.username}}
                </span>
              </a>
              </div>
              <div class="row">
              <span ng-show="snippet.forkedFrom">
                Forked from: {{snippet.forkedFrom}}
              </span>
              <i class="tiny mdi-action-label"></i>
              <span ng-repeat="tag in snippet.tags">
                {{tag}}
              </span>
              <span class="floatright">
                <a ui-sref="editSnippet({ id: snippet.user.username, snippetId: snippet.id})">
                  <i class="tiny mdi-content-create"></i>
                </a>
              </span>
              <span class="floatright">
              <a href="/download/{{snippet.id}}">
                <i class="tiny mdi-file-cloud-download"></i>
              </a>
              </span>
              <span class="floatright">
                <a ui-sref="snippets" ng-click="gistSnippet(snippet.id) ">
                  <i class="tiny mdi-content-save"></i>
                </a>
              </span>
              <span>
              <span ng-show="snippet.starCount" class="rating floatright">
                ☆ {{snippet.starCount}}
              </span>
              <span class="forking floatright">
                <strong>Ғork count</strong> {{snippet.forkedCount}}
              </span>
            </div> <!-- row -->
            </li>
          </ul> <!-- ng-repeat -->
      </div> <!-- materialize container -->
</div> <!-- ng-controller -->
